<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="5280code.com">
    <meta name="author" content="Matthew Bender">

    <title>5280 Code - Matthew Bender</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills navbar-right">
            <li>
            <a target="_blank" href="https://github.com/codebender"><i class="fa fa-medium-size fa-github-square"></i>
            </a></li>
            <li>
            <a target="_blank" href="https://twitter.com/5280code"><i class="fa fa-medium-size fa-twitter-square"></i>
            </a></li>
            <li>
            <a target="_blank" href="http://www.linkedin.com/in/matthewkbender"><i class="fa fa-medium-size fa-linkedin-square"></i>
            </a></li>
            <li>
            <a target="_blank" href="http://instagram.com/bendo"><i class="fa fa-medium-size fa-instagram"></i>
            </a></li>
          </ul>
        </nav>
        <a href="<%= page_path(@conn, :index) %>" class="logo"></a>
        <span class="header-title">5280 CODE</span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
